<p>You have successfully signed up!</p>
<p>This page is a static DoorMat placeholder, override it with the /sign_up_success route in your application.</p>

<p>Alternatively, set the sign_up_success_url redirect in config/initializers/door_mat.rb to the desired destination</p>
