<h1>You have successfully signed in!</h1>

<p>This page is a static DoorMat placeholder, to override it create app/views/door_mat/static/sign_in_success.html.erb in your application</p>

<p>Alternatively, set the sign_in_success_url redirect in config/initializers/door_mat.rb to the desired destination</p>