<h1>You have successfully signed out!</h1>

<p>Find me in test_app/app/views/door_mat/static/sign_out_success.html.erb</p>

<p>This page is a static placeholder for the DoorMat test app. It overrides the default app/views/door_mat/static/sign_out_success.html.erb</p>

<%= link_to 'Sign In', door_mat.sign_in_path %>
