<h1>Static#page_that_require_password_reconfirmation</h1>
<p>Find me in spec/test_app/app/views/static/page_that_require_password_reconfirmation.html.erb</p>

<h1>Protected page that require password reconfirmation</h1>

<p>You need to be signed in to access this page.</p>

<p>
  Your password must also have been entered less than
  DoorMat.configuration.password_reconfirm_delay = <%= DoorMat.configuration.password_reconfirm_delay %>
  minutes ago to have access to this page.
</p>


<%= link_to 'Sign Out', door_mat.sign_out_path %> or
  go back to the <%= link_to 'Session Protected Page', main_app.session_protected_page_path %>
