<p>To reset your password, please visit the URL below</p>

<p>This email body is a DoorMat placeholder, override it with app/views/door_mat/activity_mailer/reset_password.html.erb in your application.</p>

<ul>
  <% @parameters.keys.each do |key| %>
      <li>
        <%= key %> -> <%= @parameters[key] %>
      </li>
  <% end %>
</ul>
